<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-3" >
      <%= render 'layouts/application', tags: @tags %>
    </div>
    <div class="col-lg-9">
      <% if @articles.exists? %>
      <h1>いいねした記事一覧</h1>
      <table class="table">
        <thead>
          <tr>
            <th>お祭り名</th>
            <th>都道府県</th>
            <th>タグ</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td>
                <%= link_to article_path(article.id) do %>
                  <%= article.name %>
                <% end %>
              </td>
              <td><%= article.prefecture %></td>
              <td>
                <% article.tags.each do |tag| %>
                  <%= tag.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <p>いいねした記事がありません。気に入ったお祭りを探してみましょう！！</p>
      <% end %>
    </div>
  </div>
</div>