<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h1>
    </div>
    <div class="col-md-4 offset-md-1">
      <table class="table">
        <tr>
          <th>会員ID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th>ユーザーアイコン</th>
          <td><%= image_tag @customer.get_image %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= @customer.nickname %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td><%= @customer.is_deleted_i18n %></td>
        </tr>
      </table>
      <%= link_to "編集する", edit_admin_customer_path(@customer.id) %>
    </div>
    <div class="col-md-10 offset-md-1">
      <h5>ユーザーコメント履歴</h5>
        <table class="table">
          <thead>
            <tr>
              <th>お祭り名</th>
              <th>コメント</th>
              <th>日付</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @customer.comments.each do |comment| %>
              <tr>
                <td>
                  <%= link_to admin_article_path(comment.article.id) do %>
                    <%= comment.article.name %>
                  <% end %>
                </td>
                <td><%= comment.comment %></td>
                <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= link_to "削除", admin_comment_path(comment), method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>