<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-11 offset-md-1">
      <h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h1>
        <nav class="nav">
          <a>会員ID</a>
          <a><%= @customer.id %></a>
        </nav><br>
        <nav class="nav">
          <a>氏名</a>
          <a><%= @customer.last_name %><%= @customer.first_name %></a>
        </nav><br>
        <nav class="nav">
          <a>フリガナ</a>
          <a><%= @customer.last_name_kana %><%= @customer.first_name_kana %></a>
        </nav><br>
        <nav class="nav">
          <a>ニックネーム</a>
          <a><%= @customer.nickname %></a>
        </nav><br>
        <nav class="nav">
          <a>メールアドレス</a>
          <a><%= @customer.email %></a>
        </nav><br>
        <nav class="nav">
          <a>会員ステータス</a>
          <a><%= @customer.is_deleted_i18n %></a>
        </nav><br>
<%= link_to "編集する", edit_admin_customer_path(@customer.id) %>
    </div>
  </div>
</div>