<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-3" >
      <%= render 'layouts/application', tags: @tags %>
    </div>
    <div class="col-lg-9">
      <% if @articles.exists? %> <%# キーワードから検索%>
        <h1>検索結果</h1>
        <table class="table">
          <thead>
            <tr>
              <th>お祭り名</th>
              <th>都道府県</th>
              <th>タグ</th>
            </tr>
          </thead>
          <tbody>
            <% @articles.each do |article| %>
              <tr>
                <td>
                  <%= link_to article_path(article.id) do %>
                    <%= article.name %>
                  <% end %>
                </td>
                <td><%= article.prefecture %></td>
                <td>
                  <% article.tags.each do |tag| %>
                    <%= link_to tag_articles_path(tag: tag.id) do %>
                      <%= tag.name %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <%= paginate @articles %>
          </tbody>
        </table>
      <% else %>
  　　    <p>該当する記事は見つかりませんでした。</p>
      <% end %>
    </div>
  </div>
</div>