<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table">
        <tr>
          <th>お祭り写真</th>
          <td><%= image_tag @article.get_image %></td>
        </tr>
        <tr>
          <th>お祭り名</th>
          <td><%= @article.name %></td>
        </tr>
        <tr>
          <th>副題</th>
          <td><%= @article.sub_title %></td>
        </tr>
        <tr>
          <th>記事本文</th>
          <td><%= @article.introduction %></td>
        </tr>
        <tr>
          <th>都道府県</th>
          <td><%= @article.prefecture %></td>
        </tr>
        <tr>
          <th>開催場所</th>
          <td><%= @article.venue %></td>
        </tr>
        <tr>
          <th>開催日</th>
          <td><%= @article.event_date %></td>
        </tr>
        <% @article.tags.each do |tag| %>
          <span class= 'badge badge-primary'><%= tag.name %></span>
        <% end %>
      </table>
      <% if customer_signed_in? %>
        <% if @article.niced_by?(current_customer) %>
          <p>
            <%= link_to article_nices_path(@article), method: :delete do %>
              ♥<%= @article.nices.count %> いいね
            <% end %>
          </p>
        <% else %>
          <p>
            <%= link_to article_nices_path(@article), method: :post do %>
              ♡<%= @article.nices.count %> いいね
            <% end %>
          </p>
        <% end %>
        <div>
        <%= form_with model: [@article, @comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
        </div>
      <% else %>

      <% end %>
      <div>
        <p>コメント件数：<%= @article.comments.count %></p>
        <p>コメント一覧</p>
        <% @article.comments.each do |comment| %>
          <%= comment.customer.nickname %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
          <% if comment.customer == current_customer %>
            <%= link_to "削除", article_comment_path(comment.article, comment), method: :delete %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>