<!DOCTYPE html>
<html>
  <head>
    <title>Festival</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/36e275b931.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://unpkg.com/japan-map-js@1.0.1/dist/jpmap.min.js"></script>
    <script type="text/javascript" src="dist/jpmap.min.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <p class="navbar-brand">
            <%= link_to "祭りの熱を追って", root_path %>
          </p>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li>
                  <p class="nav-link text-light">
                    <%= link_to articles_path do %>
                      お祭りを探す
                    <% end %>
                  </p>
                </li>
                <li>
                  <p class="nav-link text-light">
                    <%= link_to customers_my_page_path do %>
                      マイページ<i class="fa-solid fa-user"></i>
                    <% end %>
                  </p>
                </li>
                <li>
                  <p class="nav-link text-light">
                    <%= link_to destroy_customer_session_path, method: :delete  do %>
                      ログアウト<i class="fa-solid fa-right-from-bracket"></i>
                    <% end %>
                  </p>
                </li>
                <li>
                  <%= form_with url: search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :keyword,placeholder: "キーワードで検索", class: "search-text"%>
                    <%= button_tag type: "submit", class: "btn btn-default" do %>
                      <i class="fa-solid fa-magnifying-glass"></i>
                    <% end %>
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <p class="nav-link text-light">
                    <%= link_to admin_customers_path do %>
                      会員一覧<i class="fa-solid fa-users"></i>
                    <% end %>
                  </p>
                </li>
                <li>
                  <p class="nav-link text-light">
                    <%= link_to admin_tags_path do %>
                      タグ一覧
                    <% end %>
                  </p>
                </li>
                <li>
                  <p class="nav-link text-light">
                    <%= link_to admin_articles_path do %>
                      お祭り記事一覧
                    <% end %>
                  </p>
                </li>
                <li>
                  <p class="nav-link text-light">
                    <%= link_to destroy_admin_session_path, method: :delete  do %>
                      管理者ログアウト
                    <% end %>
                  </p>
                </li>
              <% else %>
                <li>
                  <p class="nav-link text-light">
                    <%= link_to articles_path do %>
                      お祭りを探す
                    <% end %>
                  </p>
                </li>
                <li>
                  <p class="nav-link text-light">
                    <%= link_to new_customer_registration_path do %>
                      新規登録
                    <% end %>
                  </p>
                </li>
                <li>
                  <p class="nav-link text-light">
                    <%= link_to new_customer_session_path do %>
                      ログイン<i class="fa-solid fa-right-to-bracket"></i>
                    <% end %>
                  </p>
                </li>
                <li>
                  <%= form_with url: search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :keyword,placeholder: "キーワードで検索", class: "search-text"%>
                    <%= button_tag type: "submit", class: "btn btn-default" do %>
                      <i class="fa-solid fa-magnifying-glass"></i>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
